.main{
    border: 2px solid black;
    width: 100%;
    height: 1500px;
}
.navbar{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    position:sticky;
    top: 10px;
}
#search{
    width: 500px;
    height: 50px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    border: 1px solid aliceblue;
}
.box{
    /* border: 1px solid black; */
    border-radius:5px ;
}
/* #menu{
    background-color: white;
    color: black;
    width: 250px;
} */
.ps1{
    /* width: 100%; */
    height: 150px;
    /* border: 1px solid black; */
    background-color: beige;
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px;
    
}
.products{
    width: 100px;
    height: 100px;
}
.ps2b{
    /* border: 1px solid black; */
    margin: 10px 10px 10px;
    background-color: beige;
}
.ps2{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}